{
  "openapi": "3.1.0",
  "info": {
    "title": "默认模块",
    "description": "DeckHTML default module API for creating conversion tasks and retrieving task execution details.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Tasks",
      "description": "Submit DeckHTML jobs and inspect their execution state."
    }
  ],
  "paths": {
    "/tools/tasks": {
      "post": {
        "summary": "Create html2pptx task",
        "deprecated": false,
        "description": "Create a conversion task by uploading the source HTML file together with task metadata and optional execution parameters.",
        "tags": [
          "Tasks"
        ],
        "operationId": "createHtml2PptxTask",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "format": "binary",
                    "type": "string",
                    "description": "要翻译的文件",
                    "example": "file:///Users/redstone/Downloads/example-math/preview-6.html"
                  },
                  "params": {
                    "description": "参数的JSON 序列",
                    "example": "{}",
                    "type": "string"
                  },
                  "spaceId": {
                    "description": "空间ID",
                    "example": "{{userId}}",
                    "type": "string"
                  },
                  "type": {
                    "description": "任务类型",
                    "example": "convertor.html2pptx",
                    "type": "string"
                  }
                },
                "required": [
                  "files",
                  "type"
                ]
              },
              "example": {
                "files": "file:///Users/redstone/Downloads/example-math/preview-6.html",
                "params": "{}",
                "spaceId": "workspace_123",
                "type": "convertor.html2pptx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task identifier returned by the service."
                    },
                    "status": {
                      "type": "string",
                      "description": "Initial task status after creation."
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "The request payload is invalid or missing required fields."
          },
          "401": {
            "description": "The bearer token is missing or invalid."
          },
          "500": {
            "description": "The server could not create the task."
          }
        }
      }
    },
    "/tools/tasks/{id}": {
      "get": {
        "summary": "Get task details",
        "deprecated": false,
        "description": "Retrieve the latest execution state for a previously created DeckHTML task.",
        "tags": [
          "Tasks"
        ],
        "operationId": "getTaskDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the task returned when the job was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response-event-stream",
            "in": "header",
            "description": "Set to `yes` when you want the endpoint to return an SSE-compatible response stream.",
            "required": false,
            "example": "yes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task identifier."
                    },
                    "status": {
                      "type": "string",
                      "description": "Current task status."
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Task result payload when processing is complete."
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "The bearer token is missing or invalid."
          },
          "404": {
            "description": "No task exists for the provided identifier."
          },
          "500": {
            "description": "The server could not return the task details."
          }
        }
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {},
    "responses": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use Authorization: Bearer <APIKEY>"
      }
    }
  },
  "servers": [
    {
      "url": "https://app.deckflow.com/v1",
      "description": "DeckHTML production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
