{
  "openapi": "3.1.0",
  "info": {
    "title": "默认模块",
    "description": "Deckflow task API for submitting async jobs, querying task state, and downloading completed results.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Tasks",
      "description": "Submit Deckflow jobs, inspect their execution state, and download completed results."
    }
  ],
  "servers": [
    {
      "url": "https://app.deckflow.com/api",
      "description": "Deckflow production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tools/tasks": {
      "post": {
        "summary": "Submit async task",
        "description": "Submit an asynchronous Deckflow task. Different business scenarios reuse this same endpoint and are selected through the `type` field plus the JSON string in `params`.",
        "tags": [
          "Tasks"
        ],
        "operationId": "submitAsyncTask",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "spaceId": {
                    "type": "string",
                    "description": "Optional target workspace or space identifier.",
                    "example": "workspace_123"
                  },
                  "files": {
                    "type": "string",
                    "format": "binary",
                    "description": "One or more source files uploaded as multipart form data.",
                    "example": "file:///Users/example/Documents/source.pptx"
                  },
                  "type": {
                    "type": "string",
                    "description": "Business scenario or tool type identifier.",
                    "example": "generation"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional display name for the task.",
                    "example": "Partner deck generation"
                  },
                  "notifyURL": {
                    "type": "string",
                    "description": "Optional webhook callback URL for task status changes.",
                    "example": "https://your.domain/callback"
                  },
                  "params": {
                    "type": "string",
                    "description": "Scenario-specific options encoded as a JSON string.",
                    "example": "{\"inputText\":\"Create a 10-slide partner deck\",\"pageCount\":10}"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task identifier returned by the service."
                    },
                    "name": {
                      "type": "string",
                      "description": "Task display name."
                    },
                    "type": {
                      "type": "string",
                      "description": "Task scenario or tool type."
                    },
                    "status": {
                      "type": "string",
                      "description": "Initial task status after creation."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request payload is invalid or missing required fields."
          },
          "401": {
            "description": "The bearer token is missing or invalid."
          },
          "500": {
            "description": "The server could not create the task."
          }
        }
      }
    },
    "/tools/tasks/{id}": {
      "get": {
        "summary": "Query task status",
        "description": "Retrieve the latest execution state for a previously submitted Deckflow task. This same endpoint also supports SSE mode when the `response-event-stream: yes` header is present.",
        "tags": [
          "Tasks"
        ],
        "operationId": "queryTaskStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the task returned when the job was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response-event-stream",
            "in": "header",
            "description": "Set to `yes` to request a `text/event-stream` SSE response instead of standard JSON polling.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "yes"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task identifier."
                    },
                    "status": {
                      "type": "string",
                      "description": "Current task status."
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Task result payload when processing is complete."
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE stream of `data: { ...taskJSON }` events until the task reaches a terminal state."
                }
              }
            }
          },
          "401": {
            "description": "The bearer token is missing or invalid."
          },
          "404": {
            "description": "No task exists for the provided identifier."
          },
          "500": {
            "description": "The server could not return the task details."
          }
        }
      }
    },
    "/tools/tasks/{id}/download": {
      "get": {
        "summary": "Download task result",
        "description": "Download the final result file for a completed task.",
        "tags": [
          "Tasks"
        ],
        "operationId": "downloadTaskResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of a completed task.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Binary result stream returned successfully.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "The bearer token is missing or invalid."
          },
          "404": {
            "description": "No completed task result exists for the provided identifier."
          },
          "409": {
            "description": "The task has not completed yet, so no downloadable result is available."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use Authorization: Bearer <APIKEY>"
      }
    }
  }
}
